.card-dots {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 24px;
}
.float-right-content {
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%);
  padding-bottom: 20px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.08);
}

.text-small {
  font-size: 13.33px;
}
.mobile-input {
  margin: 0.5rem 0rem 0.75rem;
  flex-direction: column;
  align-items: stretch;
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: 0 0 2px rgb(45 45 45 / 20%), 0 4px 8px rgb(45 45 45 / 16%),
    0 8px 16px rgb(45 45 45 / 12%);
}
